mixin head(title, description, keywords, description_social, image_social, url_social, type_social)
  title #{title}
  meta(name="description", content="#{description}")
  meta(name="keywords", content="#{keywords}")
  meta(property="og:title" content="#{title}")
  if typeof(description_social) !== 'undefined' && description_social != "" && description_social != "meta_description"
    meta(property="og:description" content="#{description_social}")
  if typeof(image_social) !== 'undefined' && image_social != "" && image_social != "meta_image_social"
    meta(property="og:image" content="#{image_social}")
  if typeof(url_social) !== 'undefined' && url_social != "" && url_social != "meta_url_social"
    meta(property="og:url" content="#{url_social}")
  if typeof(type_social) !== 'undefined' && type_social != "" && type_social != "meta_type_social"
    meta(property="og:type" content="#{type_social}")
  else
    meta(property="og:type" content="website")

mixin menu(link, title, current)
  if current != ""
    li(class="#{current}")
      a(href="#{link}", title="#{title}") !{title}
  else
    li
      a(href="#{link}", title="#{title}") !{title}

mixin tr(status, type, material_no, ingredient_name, percentage, weight, volume, density, starch, total_fat, toal_energy, sugar, sodium, acidity_level)
  tr
    td #{status}
    td.font-600 #{type}
    td.text-right #{material_no}
    td #{ingredient_name}
    td #{percentage}
    td.contenteditable #{weight}
    td.contenteditable #{volume}
    td #{density}
    td 
      span #{starch}
      span * #{weight}
    td
      span #{total_fat}
      span * #{weight}
    td
      span #{toal_energy}
      span * #{weight}
    td
      span #{sugar}
      span * #{weight}
    td 
      span #{sodium}
      span * #{weight}
    td 
      span #{acidity_level}
      span * #{weight}