= "\n"
| <!--build:js assets/js/vendor/vue.min.js-->
| <script src="bower_components/vue/dist/vue.js"></script>
| <!-- endbuild -->
block script
= "\n"
| <!--build:js assets/js/main.js-->
| <script src="assets/js/main.js"></script>
| <!-- endbuild -->
block tracking