//
// Scaffolding
// --------------------------------------------------


// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing

//@at-root {
//  @font-face {
//    font-family: 'Noto Sans Japanese';
//    font-style: normal;
//    font-weight: 400;
//    src: url('assets/fonts/NotoSansJP-Regular.woff2') format('woff2'),
//    url('assets/fonts/NotoSansJP-Regular.woff') format('woff'),
//    url('assets/fonts/NotoSansJP-Regular.otf') format('opentype');
//  }
//}

* {
  @include box-sizing(border-box);

  &::before,
  &::after {
    @include box-sizing(border-box);
  }
}

// Body reset
html {
  -webkit-tap-highlight-color: $highlight-color;
  font-size: 10px;
}

body {
  background-color: $base-background-color;
  color: $base-font-color;
  font: #{$base-font-weight} #{$base-font-size}/#{$base-line-height} #{$base-font-family};
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


// Links
a {
  color: $base-color-link;
  cursor: pointer;
  text-decoration: none;
  transition: color .3s ease-in-out;

  &:hover {
    color: $base-color-link-hover;
    text-decoration: underline;
  }
}

// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

figure {
  margin: 0;
}

// Images
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

// Horizontal rules
hr {
  border-top: 1px solid $hr-border-color;
  margin-bottom: $line-height-computed;
  margin-top:    $line-height-computed;
}

// iOS "clickable elements" fix for role="button"
//
// Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
// for traditionally non-focusable elements with role="button"
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

[role='button'] {
  cursor: pointer;
}
