include ../components/mixin
doctype html
html(lang="en")
  head
    include ../components/head
  body
    .wrapper
      //include ../components/header
      block content
      //include ../components/footer
    include ../components/script