<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Homepage</title>
	<meta name="description" content="meta_description" />
	<meta name="keywords" content="meta_keywords" />
	<meta property="og:title" content="Homepage" />
	<meta property="og:description" content="meta_description_social" />
	<meta property="og:type" content="website" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="assets/css/style.css">
	<!--[if lt IE 9]>
    <script src="assets/js/vendor/html5-3.6-respond-1.4.2.min.js"></script>
<![endif]-->
</head>

<body>
	<div class="wrapper" id="app" v-cloak>
		<div class="container">
			<div class="table-responsive" v-if="dataSort.length">
				<table class="table-spreadsheet">
					<thead>
						<tr 
							is="ingredient-head" 
							:title="labels" 
						/>
					</thead>
					<tbody>
						<tr 
							is="ingredient-item" 
							v-for="ingredient in dataSort" 
							:key="ingredient.id" 
							v-bind="ingredient" 
							:total="summary.weight"
							@update="onUpdateItem(arguments[0], ingredient)" 
						/>
					</tbody>
					<tfoot>
						<tr 
							is="ingredient-foot" 
							v-bind="summary"
						/>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	<script src="assets/js/vendor/vue.min.js"></script>
	<script src="assets/js/main.js"></script>
</body>

</html>