// Global Typography
$base-background-color:                         #fff !default;
$base-font-family:                              Arial, sans-serif !default;
$base-font-size:                                14px !default;
$base-font-weight:                              400 !default;
$base-font-color:                               #333 !default;
$base-line-height:                              20 / 14  !default;
$base-font-monospace:                           Menlo, Monaco, Consolas, 'Courier New', monospace !default;
$base-color-darker:                             #000  !default;

$base-color-link:                               #222 !default;
$base-color-link-hover:                         #1eb4ea !default;

$base-font-size-large:                          ceil($base-font-size * 1.25) !default;
$base-font-size-small:                          ceil($base-font-size * .85) !default;

$base-h1-font-size:                             32px !default;
$base-h2-font-size:                             26px !default; //26
$base-h3-font-size:                             22px !default; //22
$base-h4-font-size:                             18px !default;
$base-h5-font-size:                             14px !default;
$base-h6-font-size:                             12px !default;
$line-height-computed:                          floor($base-font-size * $base-line-height) !default; // ~20px

//** By default, this inherits from the `<body>`.
$base-headings-font-family:                     'Noto Serif', serif !default;
$base-headings-font-weight:                     600 !default;
$base-headings-line-height:                     1.35 !default;
$base-headings-color:                           #464646 !default;


//== Code
//
//##

$code-color:                                    #c7254e !default;
$code-bg:                                       #f9f2f4 !default;

$mark-color:                                    #ff0 !default;
$mark-bg-color:                                 #fcf8e3 !default;
$fieldset-color:                                #c0c0c0 !default;
$highlight-color:                               rgba($base-color-darker, 0) !default;

$kbd-color:                                     #fff !default;
$kbd-bg:                                        #333 !default;
$kbd-shadow:                                    rgba($base-color-darker, .25) !default;

$pre-bg:                                        #f5f5f5 !default;
$pre-color:                                     #333 !default;
$pre-border-color:                              #ccc !default;
$pre-scrollable-max-height:                     340px !default;

$abbr-border-color:                             #777 !default;

$blockquote-font-size:                          ($base-font-size * 1.25) !default;
$blockquote-border-color:                       #eee !default;
$blockquote-small-color:                        #777 !default;

$hr-border-color:                               #ccc !default;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                                     480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:                                 $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:                                  $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                                     768px !default;
$screen-sm-min:                                 $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:                                 $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                                     992px !default;
$screen-md-min:                                 $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:                                $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                                     1200px !default;
$screen-lg-min:                                 $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:                             $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:                                 ($screen-sm-min - 1) !default;
$screen-sm-max:                                 ($screen-md-min - 1) !default;
$screen-md-max:                                 ($screen-lg-min - 1) !default;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:                                  12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:                             30px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:                         $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max:                     ($grid-float-breakpoint - 1) !default;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:                              (720px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-sm:                                  $container-tablet !default;

// Medium screen / desktop
$container-desktop:                             (940px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-md:                                  $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:                       (1170px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-lg:                                  $container-large-desktop !default;

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:                         6px !default;
$padding-base-horizontal:                       12px !default;

$padding-large-vertical:                        10px !default;
$padding-large-horizontal:                      16px !default;

$padding-small-vertical:                        5px !default;
$padding-small-horizontal:                      10px !default;

$padding-xs-vertical:                           1px !default;
$padding-xs-horizontal:                         5px !default;

$line-height-large:                             1.3333333 !default; // extra decimals for Win 8.1 Chrome
$line-height-small:                             1.5 !default;

$border-radius-base:                            4px !default;
$border-radius-large:                           6px !default;
$border-radius-small:                           3px !default;


//== Forms
//
//##

//** `<input>` background color
$input-bg:                                      #fff !default;
//** `<input disabled>` background color
$input-bg-disabled:                             #ddd !default; // #eee

//** Text color for `<input>`s
$input-color:                                   $base-color-link !default; // #555
//** `<input>` border color
$input-border:                                  #e1e6e8 !default;

// TODO: Rename `$input-border-radius` to `$input-border-radius-base` in v4
//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
$input-border-radius:                           0 !default;
//** Large `.form-control` border radius
$input-border-radius-large:                     $border-radius-large !default;
//** Small `.form-control` border radius
$input-border-radius-small:                     $border-radius-small !default;

//** Border color for inputs on focus
$input-border-focus:                            #66afe9 !default;

//** Placeholder text color
$input-color-placeholder:                       #999 !default;

//** Default `.form-control` height
$input-height-base:                             32px !default;
//** Large `.form-control` height
$input-height-large:                            (ceil($base-font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
//** Small `.form-control` height
$input-height-small:                            (floor($base-font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;

$input-checkbox-padding:                        28px;
$input-checkbox-border:                         #ddd;
$input-checkbox-checked:                        #1eb4ea;

$input-radio-padding:                           28px;
$input-radio-border:                            #ddd;
$input-radio-checked:                           #1eb4ea;

//** `.form-group` margin
$form-group-margin-bottom:                      20px !default;

$legend-color:                                  lighten($base-color-darker, 20%) !default;
$legend-border-color:                           #e5e5e5 !default;

//** Background color for textual input addons
$input-group-addon-bg:                          lighten($base-color-darker, 93.5%) !default; // #eee
//** Border color for textual input addons
$input-group-addon-border-color:                $input-border !default;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                               not-allowed !default;
