// =====================================================================================================================
// ! Layout common
// =====================================================================================================================
.wrapper {
  align-items: center;
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: 30px;
  padding-top: 30px;
}

[v-cloak] {
  display: none;
}
