.table-responsive {
	@include scrollbars(6px, $color-third);
	overflow-x: auto;
	padding-bottom: 10px;
}

.table-spreadsheet {
	width: 100%;

	th {
		font-weight: 600;
		white-space: nowrap;
	}

	td,
	th {
		border: 1px solid $color-four;
		padding: 5px 10px;
	}

	td {

		span {

			&:first-child {
				color: $color-six;
				font-weight: 600;
			}
		}
	}

	tfoot {

		td {
			text-align: right;

			&:first-child {
				font-weight: 600;
				text-align: center;
			}
		}
	}
}

.contenteditable {
	background: $color-primary;

	&:focus {
		background: $color-white;
	}
}