//======================================================================================================================
//! Global Typography
//======================================================================================================================
@import 'variables/base';

//======================================================================================================================
//! Global Colors
//======================================================================================================================
// Colors don't change
$color-white:                               #fff !default;
$color-black:                               #000 !default;
$color-black-opacity-125:                   rgba($color-black, .125) !default;

// Colors can change
$color-primary:                             #def2f9 !default;
$color-second:                              #222 !default;
$color-third:                               #666 !default;
$color-four:                                #ddd !default;
$color-five:                                #f12424 !default;
$color-six:                                 #fa4700 !default;

//======================================================================================================================
//! Buttons
//======================================================================================================================
$btn-font-weight:                           inherit !default;
$btn-font-size:                             inherit !default;
$btn-line-height:                           24 / 14 !default;
$btn-padding-horizontal-default:            30px;
$btn-padding-vertical-default:              5px;
$btn-border-radius-default:                 18px !default;

// Button default
$btn-default-color:                         #333 !default;
$btn-default-color-hover:                   #fff !default;
$btn-default-bg:                            #fff !default;
$btn-default-border:                        #ddd !default;
$btn-default-hover-border:                  #777 !default;

// Button large
$btn-padding-vertical-large:                5px;
$btn-padding-horizontal-large:              40px;
$btn-font-size-large:                       16px;
$btn-border-radius-large:                   23px !default;

// Button small
$btn-padding-vertical-small:                0;
$btn-padding-horizontal-small:              10px;
$btn-font-size-small:                       10px;
$btn-border-radius-small:                   14px !default;

// Button primary
$btn-primary-bg:                            #fff !default;
$btn-primary-border:                        $color-primary !default;
$btn-primary-color:                         $color-primary !default;
$btn-primary-hover-color:                   #fff !default;
$btn-primary-hover-bg:                      $color-primary !default;
$btn-primary-hover-border:                  $color-primary !default;

// Button second
$btn-second-bg:                             $color-second !default;
$btn-second-border:                         $color-second !default;
$btn-second-color:                          #fff !default;
$btn-second-hover-color:                    $color-second !default;
$btn-second-hover-bg:                       #fff !default;
$btn-second-hover-border:                   $color-second !default;

// Button third
$btn-third-bg:                              $color-primary !default;
$btn-third-border:                          $color-primary !default;
$btn-third-color:                           #fff !default;
$btn-third-hover-color:                     $color-primary !default;
$btn-third-hover-bg:                        #fff !default;
$btn-third-hover-border:                    $color-primary !default;

// Button Alert
$btn-warning-color:                         #fff;
$btn-warning-bg:                            #ffb808;
$btn-warning-border:                        #ffb808;
$btn-info-color:                            #fff;
$btn-info-bg:                               #3bafda;
$btn-info-border:                           #3bafda;
$btn-success-color:                         #fff;
$btn-success-bg:                            #8cc152;
$btn-success-border:                        #8cc152;
$btn-danger-color:                          #fff;
$btn-danger-bg:                             #da4453;
$btn-danger-border:                         #da4453;

//======================================================================================================================
//! Tên component
//======================================================================================================================
