extends templates/layouts/one-colum.jade
block head
  +head(
  'Homepage',
  'meta_description',
  'meta_keywords',
  'meta_description_social',
  'meta_image_social',
  'meta_url_social',
  'meta_type_social'
  )

block content
  .container
    .pad-bottom-30
      h1 Heading h1 大阪商船・宇治川電気・日本電力の三社共同出資により、株式会社大阪ビルヂング (資本金300万円)を設立
      h2 Heading h2 大阪商船・宇治川電気・日本電力の三社共同出資により、株式会社大阪ビルヂング (資本金300万円)を設立
      h3 Heading h3 大阪商船・宇治川電気・日本電力の三社共同出資により、株式会社大阪ビルヂング (資本金300万円)を設立
      h4 Heading h4 大阪商船・宇治川電気・日本電力の三社共同出資により、株式会社大阪ビルヂング (資本金300万円)を設立
      h5 Heading h5 大阪商船・宇治川電気・日本電力の三社共同出資により、株式会社大阪ビルヂング (資本金300万円)を設立
      h6 Heading h6 大阪商船・宇治川電気・日本電力の三社共同出資により、株式会社大阪ビルヂング (資本金300万円)を設立
      p The species is proudly galactic. Warp technically like an interstellar space suit. 大阪商船・宇治川電気・日本電力の三社共同出資により、株式会社大阪ビルヂング (資本金300万円)を設立Trao đổi bên lề QH sáng nay, Bộ trưởng Công thương Trần Tuấn Anh cho biết, Chính phủ luôn tạo điều kiện tốt nhất cho DN phát triển thị trường, sản xuất, kinh doanh.

      p Tuy nhiên, các hoạt động đó phải tuân thủ pháp luật, bảo vệ lợi ích, quyền lợi người tiêu dùng. Đó là nguyên tắc cơ bản mà các DN đều phải thực hiện, đồng thời phải dựa trên nền tảng đạo đức, văn hóa, nhất là văn hóa DN, tôn trọng lợi ích người tiêu dùng, trung thực trong kinh doanh.

      p “Qua hành vi mà báo chí phản ánh về hoạt động của DN Khaisilk cho thấy có những dấu hiệu vi phạm cả luật pháp cũng như nền tảng đạo đức doanh nghiệp”, Bộ trưởng Tuấn Anh nhấn mạnh.


    .pad-bottom-30
      .pad-bottom-20
        button.btn Default
        button.btn.btn-small small
        button.btn.btn-large large
      .pad-bottom-20
        button.btn.btn-warning warning
        button.btn.btn-info info
        button.btn.btn-success success
        button.btn.btn-danger danger
      .pad-bottom-20
        button.btn.btn-block Button block
      .pad-bottom-20
        button.btn.btn-primary Button primary
      .pad-bottom-20
        button.btn.btn-second Button second
      .pad-bottom-20
        button.btn.btn-third Button third
      .pad-bottom-20
        a.btn.btn-link(href="#") Button Link
    .pad-bottom-30
      .form-group
        label Input
        input.form-control(type="text")
      .form-group
        label Textarea
        textarea.form-control
      .form-group
        label Select
        select.form-control
          option Default
      .form-group
        label Checkbox
        label.checkbox
          input.checkbox-input(type="checkbox")
          .checkbox-outline
            .checkbox-tick
          .checkbox-label Default
        label.checkbox
          input.checkbox-input(type="checkbox", checked)
          .checkbox-outline
            .checkbox-tick
          .checkbox-label Checked
        label.checkbox
          input.checkbox-input(type="checkbox", disabled)
          .checkbox-outline
            .checkbox-tick
          .checkbox-label Disabled
      .form-group
        label Radio
        label.radio
          input.radio-input(type="radio", name="radio")
          .radio-outline
            .radio-tick
          .radio-label Default
        label.radio
          input.radio-input(type="radio", name="radio", checked)
          .radio-outline
            .radio-tick
          .radio-label Checked
        label.radio
          input.radio-input(type="radio", name="radio", disabled)
          .radio-outline
            .radio-tick
          .radio-label Disabled
    .pad-bottom-30
      .row.pad-top-20
        .col-sm-1
          span.grid-content col-sm-1
        .col-sm-1
          span.grid-content col-sm-1
        .col-sm-1
          span.grid-content col-sm-1
        .col-sm-1
          span.grid-content col-sm-1
        .col-sm-1
          span.grid-content col-sm-1
        .col-sm-1
          span.grid-content col-sm-1
        .col-sm-1
          span.grid-content col-sm-1
        .col-sm-1
          span.grid-content col-sm-1
        .col-sm-1
          span.grid-content col-sm-1
        .col-sm-1
          span.grid-content col-sm-1
        .col-sm-1
          span.grid-content col-sm-1
        .col-sm-1
          span.grid-content col-sm-1

      .row.pad-top-20
        .col-sm-2
          span.grid-content col-sm-2
        .col-sm-2
          span.grid-content col-sm-2
        .col-sm-2
          span.grid-content col-sm-2
        .col-sm-2
          span.grid-content col-sm-2
        .col-sm-2
          span.grid-content col-sm-2
        .col-sm-2
          span.grid-content col-sm-2
      .row.pad-top-20
        .col-sm-3
          span.grid-content col-sm-3
        .col-sm-3
          span.grid-content col-sm-3
        .col-sm-3
          span.grid-content col-sm-3
        .col-sm-3
          span.grid-content col-sm-3
      .row.pad-top-20
        .col-sm-4
          span.grid-content col-sm-4
        .col-sm-4
          span.grid-content col-sm-4
        .col-sm-4
          span.grid-content col-sm-4
      .row.pad-top-20
        .col-sm-5
          span.grid-content col-sm-5
        .col-sm-7
          span.grid-content col-sm-7
      .row.pad-top-20
        .col-sm-6
          span.grid-content col-sm-6
        .col-sm-6
          span.grid-content col-sm-6
      .row.pad-top-20
        .col-sm-7
          span.grid-content col-sm-7
        .col-sm-5
          span.grid-content col-sm-5
      .row.pad-top-20
        .col-sm-8
          span.grid-content col-sm-8
        .col-sm-4
          span.grid-content col-sm-4
      .row.pad-top-20
        .col-sm-9
          span.grid-content col-sm-9
        .col-sm-3
          span.grid-content col-sm-3
      .row.pad-top-20
        .col-sm-10
          span.grid-content col-sm-10
        .col-sm-2
          span.grid-content col-sm-2
      .row.pad-top-20
        .col-sm-11
          span.grid-content col-sm-11
        .col-sm-1
          span.grid-content col-sm-1
      .row.pad-top-20
        .col-sm-12
          span.grid-content col-sm-12

